/* This is the main stylesheet */
p {
    color: #000000;
}

.star {
    color:red;
}

#list_of_slides {
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
}