/* This is the main stylesheet */
p {
    color: #000000;
}

.star {
    color:red;
}

#list_of_slides {
    margin-top: 0;
}

#slide_content {
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
}

#display_options {
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
}

.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}

.fileUpload input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 300px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

.not_select {
    color: red;
}