{% extends "layout.html" %}

{% block title %}Account Settings{% endblock %}

{% block body %}
    <div data-role="page" data-url="{{ url_for('account_settings') }}">
        {% include "leftpanel.html" %}
        <div id="page_header_1" data-role="header" data-position="fixed">
            <a href="#leftpanel" data-wow-delay="0.8s" data-role="button" role="button" style="visibility:visible;animation-delay:0.8s;animation-name:fadeIn;"><i class="zmdi zmdi-menu"></i></a>
            <h1>Telepatholodroid</h1>
            <h3>Account Settings</h3>
        </div>
        <div role="main" class="ui-content">
            <div class="row">
                <div class="col-md-6">
                    <h3>Personal Details</h3>
                    <p id="per_confirm" style="color: green; display: none">Details successfully changed!</p>
                    <div class="row">
                        <div class="col-xs-2">
                            <p>Name:</p>
                        </div>
                        <div class="col-xs-8">
                            <p id="name_label">{{ current_user.title }} {{ current_user.fname }} {{ current_user.lname }}</p>
                        </div>
                        <div class="col-xs-2">
                            <a href="#" data-role="button" role="button" id="name_btn">Edit<i class="zmdi zmdi-edit"></i></a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <form method="post" id="name_form" style="display: none">
                                <label for="name_text">Enter new name</label>
                                <input type="text" name="name_text" id="name_text" data-clear-btn="true">
                                <input type="submit" value="Change">
                            </form>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-2">
                            <p>Institute:</p>
                        </div>
                        <div class="col-xs-8">
                            <p id="institute_label">{{ current_user.institute }}</p>
                        </div>
                        <div class="col-xs-2">
                            <a href="#" data-role="button" role="button" id="institute_btn">Edit<i class="zmdi zmdi-edit"></i></a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <form method="post" id="institute_form" style="display: none">
                                <label for="institute_text">Enter new institute title</label>
                                <input type="text" name="institute_text" id="institute_text" data-clear-btn="true">
                                <input type="submit" value="Change">
                            </form>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-2">
                            <p>Country:</p>
                        </div>
                        <div class="col-xs-8">
                            <p id="country_label">{{ current_user.country }}</p>
                        </div>
                        <div class="col-xs-2">
                            <a href="#" data-role="button" role="button" id="country_btn">Edit<i class="zmdi zmdi-edit"></i></a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <form method="post" id="country_form" style="display: none">
                                <label for="country_text">Enter new country</label>
                                <select name="country_text" id="country_text" data-native-menu="false">
                                    {% include 'countries.html' %}
                                </select>
                                <input type="submit" value="Change">
                            </form>
                        </div>
                    </div>
                    <h3>Contact Information</h3>
                    <div class="row">
                        <div class="col-xs-2">
                            <p>Email:</p>
                        </div>
                        <div class="col-xs-8">
                            <p id="email_label">{{ current_user.email }}</p>
                        </div>
                        <div class="col-xs-2">
                            <a href="#" data-role="button" role="button" id="email_btn">Edit<i class="zmdi zmdi-edit"></i></a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <form method="post" id="email_form" style="display: none">
                                <label for="email_text">Enter new email</label>
                                <input type="email" name="email_text" id="email_text" data-clear-btn="true">
                                <input type="submit" value="Change">
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <h3>Change password</h3>
                    <p id="p_reminder" style="color:red; display: none">Passwords do not match or are not following correct standard!</p>
                    <p id="p_confirm" style="color: green; display: none">Password changed!</p>
                    <p id="p_wrong" style="color: red; display: none">Your old password was incorrect, please try again!</p>
                    <p>Your password should be at least 8 characters long, containing a mix of letters and numbers/symbols and at least one uppercase letter</p>
                    <form method="post" id="password_form">
                        <label for="current_pword">Enter your current password</label>
                        <input type="password" name="current_pword" id="current_pword" data-clear-btn="true">
                        <label for="new_pword_1">Enter your new password</label>
                        <input type="password" name="new_pword_1" id="new_pword_1" data-clear-btn="true">
                        <label for="new_pword_2">Re-enter your new password</label>
                        <input type="password" name="new_pword_2" id="new_pword_2" data-clear-btn="true">
                        <input type="submit" value="Change">
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block script_section %}
    <script>
        $(document).ready(function () {
            $account_forms = [$('#email_form'), $('#name_form'), $('#institute_form'), $('#country_form')];
            $account_btns = [$('#email_btn'), $('#name_btn'), $('#institute_btn'), $('#country_btn')];
            $account_val = [$('#email_text'), $('#name_text'), $('#institute_text'), $('#country_text')]
            $($account_forms).each(function (i, val) {
                this.on('submit', function (e) {
                    e.preventDefault();
                    $new_data = $account_val[i].val();
                    $account_val[i].parent().removeClass('changed');

                    if($new_data.length <= 0) {
                        $account_val[i].parent().addClass('changed');
                        return;
                    }
                    if(i == 1) {
                        // Name form
                        $name_split = $new_data.split(" ");
                        if($name_split.length < 3) {
                            $account_val[i].parent().addClass('changed');
                            return;
                        }
                    }
                    val.slideUp();

                    console.log(val.attr('id'));
                    $info = {"detail": val.attr('id'), "data": $new_data};
                    console.log($info);

                    $label = $("#" + val.attr('id').split('_')[0] + "_label");
                    console.log($label);
                    $label.empty().append($new_data);

                    $.ajax({url: "{{ url_for('change_account_setting') }}",
                        type: 'post',
                        data: JSON.stringify($info),
                        contentType: "application/json; charset=utf-8",
                        success: function (result) {
                            $('#per_confirm').show().delay(5000).fadeOut();
                            console.log("succesful change");
                        }
                    });
                });
            });

            $($account_btns).each(function (i, val) {
                val.on('tap', function () {
                    $account_forms[i].slideToggle();
                    $($account_forms).each(function (j) {
                        if(j != i) $account_forms[j].slideUp();
                    })
                })
            });

            $('#password_form').on('submit', function (e) {
                e.preventDefault();
                // Validate that password
                $('#p_wrong').hide();
                if($('#current_pword').val().length <= 0){
                    $('#current_pword').parent().addClass('changed');
                    $('#p_reminder').show();
                    $failed = true;
                }
                $failed = false;
                if($('#new_pword_1').val() != $('#new_pword_2').val()) {
                    //console.log("Passwords don't match!");
                    $failed = true;
                }

                $pword = $('#new_pword_1').val();
                if($pword.length < 8){
                    //console.log("Password too short");
                    $failed = true;
                };
                if(!/\d/.test($pword)){
                    //console.log("No numbers");
                    $failed = true;
                };
                if(!/[a-z]/.test($pword)) {
                    //console.log("No lowercase letters");
                    $failed = true;
                };
                if(!/[A-Z]/.test($pword)) {
                    //console.log("No uppercase letters");
                    $failed = true;
                };
                if(/[^0-9a-zA-Z]/.test($pword)) {
                    //console.log("Not a good combination");
                    $failed = true;
                };

                if($failed) {
                    $('#new_pword_1').parent().addClass('changed');
                    $('#new_pword_2').parent().addClass('changed');
                    $('#p_reminder').show();
                } else {
                    $('#new_pword_1').parent().removeClass('changed');
                    $('#new_pword_2').parent().removeClass('changed');
                    $('#p_reminder').hide()
                    $('#current_pword').parent().removeClass('changed');

                    // send new password to change
                    $info = {"old_password": $('#current_pword').val(), "new_password": $('#new_pword_1').val()};
                    //console.log($info);
                    $.ajax({url: "{{ url_for('change_password') }}",
                        type: 'post',
                        data: JSON.stringify($info),
                        contentType: "application/json; charset=utf-8",
                        success: function (result) {
                            if(result['success']) {
                                $('#new_pword_1').val('');
                                $('#current_pword').val('');
                                $('#new_pword_2').val('');
                                $('#p_confirm').show().delay(5000).fadeOut()
                                //console.log("succesful change");
                            } else {
                                $('#new_pword_1').val('');
                                $('#current_pword').val('');
                                $('#new_pword_2').val('');
                                $('#p_wrong').show();
                            }
                        }
                    });
                }
            })
        })
    </script>
{% endblock %}