<div data-role="panel" id="bottomsheet_opt" class="ui-bottom-sheet ui-bottom-sheet-list" data-animate="false" data-position="bottom" data-display="overlay">
    <div class="row center-lg middle-lg">
        <div class="col-xs-4">
            <ul data-role="listview" data-icon="false">
                    <li>
                        <a href="#">
                            <img id="slide_thumbnail" src="{{ url_for('static', filename='image/thumb1.jpg') }}" class="ui-thumbnail ui-thumbnail-circular">
                            <h2 id="bs_name">name</h2>
                        </a>
                    </li>
            </ul>
        </div>
        <div class="col-xs-4">
            <a id='bs_link' href="{{ url_for('viewimg', imgid='1') }}" class="ui-bottom-sheet-link ui-btn ui-btn-inline waves-effect waves-button waves-effect waves-button" style="text-align: center" data-ajax="false"><i class="zmdi zmdi-assignment zmdi-eye"></i><strong>View image</strong></a>
        </div>
        <div class="col-xs-4">
            <a id="bs_review" href="{{ url_for('reviewimg', imgid='1') }}" class="ui-bottom-sheet-link ui-btn ui-btn-inline waves-effect waves-button waves-effect waves-button" style="text-align: center" data-ajax="false"><strong>Review image</strong></a>
        </div>
    </div>
    <div class="row center-lg">
        <div class="col-xs-auto">
            <p id="bs_uploader">Uploader: Dr Bob Smith</p>
        </div>
        <div class="col-xs-auto">
            <p id="bs_dateuploaded">Date uploaded: 24/10/17</p>
        </div>
        <div class="col-xs-auto">
            <p>Annotations: 15</p>
        </div>
    </div>
</div>