{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block body %}
    <div data-role="page" id="main_page" data-url="{{ url_for('home') }}">
        {% include 'leftpanel.html' %}
        <div id="page_header_1" data-role="header" data-position="fixed">
            <a href="#leftpanel" data-wow-delay="0.8s" data-role="button" role="button" style="visibility:visible;animation-delay:0.8s;animation-name:fadeIn;"><i class="zmdi zmdi-menu"></i></a>
            <h1>Telepatholodroid</h1>
            <h3>Feedback</h3>
        </div>
        <div role="main" class="ui-content">
            <h3>Feedback</h3>
	    <p>This page allows you to leave feedback on your experiences and problems with the application, as well as just general feedback. If you have any problems, weird behaviour or glitches within the app, then detail them here. The more information you can give the better, and all feedback will be taken on board! Any comment is greatly appreciated, and don't be afraid to go into detail - it helps more!</p>
            <form method="post" action="{{ url_for('save_feedback') }}" data-ajax="false">
                {{ feedback.csrf_token }}
                {{ feedback.bug_title.label }}
                {{ feedback.bug_title }}
                {{ feedback.bug_description.label }}
                {{ feedback.bug_description }}
                <input type="submit" value="Submit">
            </form>
        </div>
{% endblock %}
