{% extends "layout.html" %}
{% block title %}Welcome{% endblock %}
{% block body %}
    <div data-role="page" id="splash">
        <div role="main" class="ui-content">
            <p>Welcome to Telepatholodroid!</p>
            <p>You can login <a href="#login">here</a></p>
        </div>
    </div>
    <div data-role="page" id="login">
        <div role="main" class="ui-content">
            <p>Thanks for logging in!</p>
            <a href="{{ url_for('home') }}" data-transition="pop">Continue to home!</a>
        </div>
    </div>
{% endblock %}