<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <!-- Whole bunch of JQuery imports -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='javascript/nativeDroid2/css/nativedroid2.css') }}">

    <title>{% block title %}{%  endblock %}</title>
</head>
<body>

{% block body %}
{% endblock %}

<script src="{{ url_for('static', filename='javascript/nativeDroid2/js/nativedroid2.js') }}"></script>
</body>
</html>