<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Report for {{ slide_info[0] }}</title>
</head>
<body>
    <h1>Report for {{ slide_info[0] }}</h1>
     <ul>
        <li id="slide_category">{{ slide_info[2] }}</li>
        <li id="slide_casenum">{{ slide_info[3] }}</li>
        <li id="slide_consultant">{{ slide_info[4] }}</li>
        <li id="slide_clinical">{{ slide_info[5] }}</li>
        <li id="prov_diag">{{ slide_info[6] }}</li>
        <li id="slide_date">{{ slide_info[7] }}</li>
    </ul>
</body>
</html>