<!DOCTYPE html>
<html>
<head>
    <title>Report for {{ slide_info[0] }}</title>
    <style>
        body {
            background-color: white;
        }
    </style>
</head>
<body>
    <p>{{ slide_info[3] }}</p>
    <h3>CLINICAL INFORMATION</h3>
    <p>Consultant: {{ slide_info[4] }}</p>
    <p>Clinical details: {{ slide_info[5] }}</p>
    <p>Provisional Diagnosis: {{ slide_info[6] }}</p>

    <h3>MICROSCOPIC FEATURES</h3>
        {% for a in annotations %}
            <p><b>{{ a[0] }}</b></p>
            <p>Description: {{ a[1] }}</p>
            <br>
        {% endfor %}

    <!--
     <ul>
        <li id="slide_category">{{ slide_info[2] }}</li>
        <li id="slide_casenum">{{ slide_info[3] }}</li>
        <li id="slide_consultant">{{ slide_info[4] }}</li>
        <li id="slide_clinical">{{ slide_info[5] }}</li>
        <li id="prov_diag">{{ slide_info[6] }}</li>
        <li id="slide_date">{{ slide_info[7] }}</li>
    </ul
    -->
</body>
</html>