<script>
    $(document).ready(function () {
        // Initialise the progress bar

        $form_inputs = [$('#name'), $('#case_num'), $('#consultant'), $('#prov_diag')];

        $('#progress_bar').LineProgressbar({
            fillBackgroundColor: '#607D8B'
        });

        $file_input = $('#u_file');
        $file_input.on('change', function () {
            $filename_components = $file_input.val().split("\\");
            $filename = $filename_components[$filename_components.length - 1];
            $('#file_name').empty().append($filename);
            console.log($filename);
        });

        $req_func = function (f_data, j_form, opt) {
            $failed = false;
            $($form_inputs).each(function () {
                this.parent().removeClass('changed');
                if(this.val().length <= 0) {
                    failed = true;
                    this.parent().addClass('changed');
                }
            });

            $('#u_btn_box').removeClass('not_select');
            if(f_data[7]['value']['name'] == undefined) { // Check file has been selected
                $('#u_btn_box').addClass('not_select');
                console.log("No file selected");
                return false;
            }

            if($failed) return false;

            $('#progress_bar').show();
        };

        $res_func = function (res_text) {
            $('#file_name').empty();
            $('#progress_bar').hide();
            if(res_text.success == true) {
                new $.nd2Toast({
                    message: "Slide uploaded as " + res_text.s_name + ", be aware that it may take a few minutes before the image is ready to view",
                    ttl: 5000
                });
            } else {
                new $.nd2Toast({
                    message: "Upload failed, please try again",
                    ttl: 5000
                });
            }
            $('#up_form').clearForm();
            $('#up_form').resetForm();
            $('#type').val("oral");
        };

        $prog = function (event, position, total, percentComplete) {
            console.log(percentComplete);
            $('#progress_bar').LineProgressbar({
                percentage: percentComplete,
                duration: 0,
                fillBackgroundColor: '#607D8B'
            });
        };

        $('#up_form').ajaxForm({beforeSubmit: $req_func, success: $res_func, uploadProgress: $prog});
    })
</script>