{% extends "layout.html" %}
{% block title %}Image View{% endblock %}

{% block body %}
    <div data-role="page" data-url="{{ url_for('viewimg', imgid=imgid) }}">
        <div role="main" data-inset="false">
            <canvas id="s_canvas"></canvas>
        </div>
        <div data-role="footer" data-position="fixed" id="toolbar" >
            <div id="toolbar_2" class="row center-xs" style="display: none">
                <div id="finish_button" class="col-xs-6"><div class="box"><a href="#" class="ui-btn ui-mini nd2-btn-icon-block"><i class='zmdi zmdi-check'></i> finish</a></div></div>
                <div id="cancel_button" class="col-xs-6"><div class="box"><a href="#" class="ui-btn ui-mini nd2-btn-icon-block"><i class='zmdi zmdi-block-alt'></i> cancel</a></div></div>
            </div>
            <div id="toolbar_1" class="row center-xs">
                <div id="back_button" class="col-xs-4">
                    <div class="box">
                        <a href="#" class="ui-btn ui-mini nd2-btn-icon-block"><i class='zmdi zmdi-long-arrow-left'></i> back</a>
                    </div>
                </div>
                <div id="add_button" class="col-xs-4">
                    <div class="box">
                        <a href="#" class="ui-btn ui-mini nd2-btn-icon-block"><i class='zmdi zmdi-plus'></i> add</a>
                    </div>
                </div>
                <div id="remove_button" class="col-xs-4">
                    <div class="box">
                        <a href="#" class="ui-btn ui-mini nd2-btn-icon-block"><i class='zmdi zmdi-minus'></i> delete</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script_section %}
    {% with l=loc, d=dimensions %}
    {% include 'viewscript.html' %}
    {% endwith %}
{%  endblock %}

