{% extends "layout.html" %}
{% block title %}Image View{% endblock %}

{% block body %}
    <div data-role="page" data-url="{{ url_for('viewimg', imgid=imgid) }}" class="nd2-no-menu-swipe">
        <div role="main" data-inset="false">
            <div class="row">
                <div id="canvas_column" class="col-xs-11">
                    <canvas id="s_canvas"></canvas>
                </div>
                <div class="col-xs-1">
                    <br>
                    <a id="pan_up" href="#" class="ui-btn ui-btn-raised clr-primary nd2-btn-icon-block"><i class='zmdi zmdi-long-arrow-up'></i><b>&uArr;</b></a>
                    <br>
                    <a id="pan_down" href="#" class="ui-btn ui-btn-raised clr-primary nd2-btn-icon-block"><i class='zmdi zmdi-long-arrow-up'></i><b>&dArr;</b></a>
                    <br>
                    <a id="pan_left" href="#" class="ui-btn ui-btn-raised clr-primary nd2-btn-icon-block"><i class='zmdi zmdi-long-arrow-up'></i><b>&rArr;</b></a>
                    <br>
                    <a id="pan_right" href="#" class="ui-btn ui-btn-raised clr-primary nd2-btn-icon-block"><i class='zmdi zmdi-long-arrow-up'></i><b>&lArr;</b></a>
                    <br>
                    <a id="zoom_in" href="#" class="ui-btn ui-btn-raised clr-primary nd2-btn-icon-block"><i class='zmdi zmdi-zoom-in'></i> in</a>
                    <br>
                    <a id="zoom_out" href="#" class="ui-btn ui-btn-raised clr-primary nd2-btn-icon-block"><i class='zmdi zmdi-zoom-out'></i> out</a>
                    <br>
                    <a id="recenter" href="#" class="ui-btn ui-btn-raised clr-primary nd2-btn-icon-block"><i class='zmdi zmdi-arrows'></i></a>
                </div>
            </div>

            <div id="toolbar" class="row center-xs">
                <div class="col-xs-3">
                    <div class="box">
                        <a id="back_button" href="#" class="ui-btn ui-btn-raised clr-primary nd2-btn-icon-block"><i class='zmdi zmdi-long-arrow-return'></i> back</a>
                    </div>
                </div>
                <div class="col-xs-3">
                    <div class="box">
                        <a id="add_button" href="#" class="ui-btn ui-btn-raised clr-primary nd2-btn-icon-block"><i class='zmdi zmdi-plus'></i> add</a>
                    </div>
                </div>
                <div class="col-xs-3">
                    <div class="box">
                        <a id="remove_button" href="#" class="ui-btn ui-btn-raised clr-primary nd2-btn-icon-block"><i class='zmdi zmdi-minus'></i> delete</a>
                    </div>
                </div>
                <div class="col-xs-3">
                    <div class="box">
                        <a id="show_annotations" href="#" class="ui-btn ui-btn-raised clr-primary nd2-btn-icon-block"><i class="zmdi zmdi-eye"></i> show annotations</a>
                    </div>
                </div>
            </div>
        </div>

        <div data-role="panel" id="bottomsheetoptions" data-position-fixed="true" data-display="overlay">
            <h3>Save annotation</h3>
            <form method="post" action="{{ url_for('save_annotation') }}" id="new_annotation">
                {{ form.name.label }}
                {{ form.name }}
                {{ form.anno_description.label }}
                {{ form.anno_description }}
                {{ form.colour.label }}
                {{ form.colour }}
                <input type="submit" value="SAVE" data-rel="close">
            </form>
        </div>
    </div>
{% endblock %}

{% block script_section %}
    {% with l=loc, d=dimensions, id=slide_id, anno=anno, sa=sa %}
    {% include 'viewscript.html' %}
    {% endwith %}
{%  endblock %}

