<script>
    var image_string = "";
    $(document).ready(function () {
        $image_string = "";
        $location = "{{ l }}";
        console.log("{{ id }}");
        //console.log($location);
        $dimensions = $.parseJSON({{ d | tojson | safe  }});
        $annotations = {{ anno | safe  }};
        $.each($annotations, function() {
            console.log(this[0]);
            $.each(this[3], function() {
                console.log(this)
            });
        });
        $tile_info = null;
        $count = 0;
        $.each($dimensions, function () {
            $count += 1;
        });
        console.log($count);
        //console.log($dimensions);
        //console.log($dimensions["level_2"]);
        $pan_start_x = null;
        $pan_start_y = null;
        $diff_x = 0;
        $diff_y = 0;
        $diff_sc = 1;
        $pinch_start = null;
        $prev_pinch = null;
        $pinch_x = 0;
        $pinch_y = 0;
        $x_t = 0;
        $y_t = 0;
        // Variables for working out scaling
        $h = 0;
        $w = 0;
        $buttons = [];
        $button_pressed = false;

        $('#colour').spectrum({ // Set up colour picker
            flat: true,
            showInput: true,
            showButtons: false,
            preferredFormat: "hex",
            showInput: false,
            palette: [["red", "rgba(0, 255, 0, .5)", "rgb(0, 0, 255)"]]
        });

        $current_dims = null;

        $annotation_drawing = false;
        $annotation_points = [];
        $annotation_show = false;
        $submitting_form = false;

        $toolBar = $('#toolbar');
        console.log("Toolbar height: " + $toolBar.height());
        $canvas = $('#s_canvas');

        $add_button = $('#add_button');
        $remove_button = $('#remove_button');
        $back_button = $('#back_button');
        $view_button = $('#show_annotations');
        $anno_form = $('#new_annotation');

        $canvas = $canvas.hammer({
            recognizers: [
                [Hammer.Pan, {direction: Hammer.DIRECTION_ALL}],
                [Hammer.Pinch, {enable: true}],
                [Hammer.Press, {time: 0}]
            ]
        });
        $canvas_h = window.innerHeight - $toolBar.height() - 5; //* 0.9;
        $canvas_w = $('#canvas_column').width();
        console.log("Canvas size: " + $canvas_h + ", " + $canvas_w);
        $canvas.attr('width', $canvas_w);
        $canvas.attr('height', $canvas_h);
        //$toolBar.attr('height', 0.1 * window.innerHeight);
        $toolBar.attr('width', window.outerWidth);
        $.jCanvas.defaults.fromCenter = false;

        // Display first image at highest dimension
        $current_label = "";
        $previous_level = "level_0";
        $.each($dimensions, function (i) {
            if(this[0] > $canvas_w || this[1] > $canvas_h) {
                $current_label = $previous_level;
                return;
            }
            $previous_level = i;
        });
        console.log($current_label);

        $current_level = $dimensions[$current_label];
        console.log($current_level);
        $current_dims = $.parseJSON($.ajax({
            url: $location + "/" + $current_label + "/dim.json",
            dataType: "json",
            async: false
        }).responseText);
        console.log($current_dims);

        // Starting positions
        $scale = Math.min(($canvas_w * 0.9) / $current_level[0], ($canvas_h * 0.9) / $current_level[1]); // Initial scale of image
        console.log("INTIAL SCALE: " + $scale);

        $draw_x = ($canvas_w - ($current_level[0] * $scale)) / 2;
        $draw_y = ($canvas_h - ($current_level[1] * $scale)) / 2;
        $act_x = $draw_x; // These variables contain the actual origin of the image
        $act_y = $draw_y;

        $default_details = [$current_label, $current_level, $current_dims, $draw_x, $draw_y, $scale];

        $ShowAnnotation = function(ann, sx, sy, sc, save_im) {
            // Will focus the camera on the chosen annotation
            $max_x = 0;
            $min_x = 1;
            $max_y = 0;
            $min_y = 1;
            $.each(ann[3], function() {
                console.log(this);
                if(parseFloat(this[0]) > $max_x) {
                    $max_x = this[0];
                }

                if(parseFloat(this[0]) < $min_x) {
                    $min_x = this[0];
                }

                if(parseFloat(this[1]) > $max_y) {
                    $max_y = this[1];
                }

                if(parseFloat(this[1]) < $min_y) {
                    $min_y = this[1];
                }
            });
            console.log("Max x: " + $max_x + ", min x: " + $min_x + ", Max y: " + $max_y + ", min y: " + $min_y);
            $previous_level = "level_0";
            $current_label = "level_0";
            //console.log($dimensions);
            $.each($dimensions, function (i) {
                $x_dist = (($max_x - $min_x) * this[0]);
                $y_dist = (($max_y - $min_y) * this[1]);
                //console.log(i);
                //console.log($previous_level);
                //console.log("X: " + $x_dist + " compared to " + $canvas_w * 0.9);
                //console.log("Y: " + $y_dist + " compared to " + $canvas_h * 0.9);
                if($x_dist > $canvas_w * 0.9 || $y_dist > $canvas_h * 0.9) {
                    $current_label = $previous_level;
                    return;
                }
                $previous_level = i;
                $current_label = i;
            });
            console.log($current_label);
            $current_level = $dimensions[$current_label];
            console.log($current_level);
            $current_dims = $.parseJSON($.ajax({
                url: $location + "/" + $current_label + "/dim.json",
                dataType: "json",
                async: false
            }).responseText);
            console.log($current_dims);
            $draw_x = ($canvas_w - $current_level[0]) / 2; // Stores where the image is drawn from so as not to mess with scaling
            $draw_y = ($canvas_h - $current_level[1]) / 2;
            console.log("(" + $draw_x + ", " + $draw_y + ")");

            $x_dist = (($max_x - $min_x) * $current_level[0]);
            $y_dist = (($max_y - $min_y) * $current_level[1]);
            $x_scale = $canvas_w * 0.9 / $x_dist;
            $y_scale = $canvas_h * 0.9 / $y_dist;
            console.log("[" + $x_scale + ", " + $y_scale + "]");
            $scale = Math.min($x_scale, $y_scale); // Initial scale of image

            // get the centre of the annotation to zoom on
            $mid_x = (($max_x + $min_x) / 2) * $current_level[0] * $scale;
            $mid_y = (($max_y + $min_y) / 2) * $current_level[1] * $scale;
            console.log("Mid x: " + $mid_x + ", Mid y: " + $mid_y);
            $draw_x -= $mid_x - ($current_level[0] / 2); // will translate the middle of the annotation to the centre of the screen
            $draw_y -= $mid_y - ($current_level[1] / 2);
            console.log("(" + $draw_x + ", " + $draw_y + ")");

            $act_x = $draw_x;
            $act_y = $draw_y;
            $DrawImage($draw_x, $draw_y, $scale, true);
            $view_button.empty();
            $view_button.append("<i class='zmdi zmdi-eye-off'></i> hide annotations");
            $annotation_show = true;
            $DrawAnnotation(ann, $draw_x, $draw_y, $scale);
            //$image_string = "";
            if(!save_im) {
                $canvas.drawLayers();
            }
        };

        $DrawAnnotation = function(ann, sx, sy, sc) {
            if($annotation_drawing || $submitting_form) {
                $obj = {
                    type: 'line',
                    strokeStyle: '#000',
                    strokeWidth: 5,
                    rounded: true,
                    closed: true
                };

                $.each(ann, function (i) {
                    console.log("Point " + this[0] + ", " + this[1]);
                    $canvas.addLayer({
                        type: 'ellipse',
                        fillStyle: '#000',
                        width: 10, height: 10,
                        x: this[0] - 5,
                        y: this[1] - 5
                    });
                    $obj['x' + (i + 1)] = this[0];
                    $obj['y' + (i + 1)] = this[1];
                });
                console.log($obj);
                $canvas.addLayer($obj);
            }

            if($annotation_show) {
                //console.log("SHOWING ANNOTATIONS");
                $.each($annotations, function() {
                    $obj_temp = {
                        type: 'line',
                        group: ['annotation'],
                        strokeStyle: this[2],
                        strokeWidth: 5,
                        rounded: true,
                        closed: true
                    };

                    $.each(this[3], function(i) {
                        $obj_temp['x' + (i + 1)] = (this[0] * sc * $current_level[0]) + sx;
                        $obj_temp['y' + (i + 1)] = (this[1] * sc * $current_level[1]) + sy;
                    });
                    //console.log($obj_temp);
                    $canvas.addLayer($obj_temp);
                })
            }
        };

        $DrawImage = function(sx, sy, sc, getImage, sc_x, sc_y) {
            $canvas.removeLayers();
            // Introduce some logic to only draw tiles that will be seen
            $start_i = ((sx < 0) ? Math.floor(-sx / (256 * sc)) : 0);
            $end_i = Math.min(Math.ceil(($canvas_w - sx) / (256 * sc)), $current_level[2]);
            $start_j = ((sy < 0) ? Math.floor(-sy / (256 * sc)) : 0);
            $end_j = Math.min(Math.ceil(($canvas_h - sy) / (256 * sc)), $current_level[3]);

            console.log("Tiles on screen: " + (($end_i - $start_i) * ($end_j - $start_j)));

            for (i = $start_i; i < $end_i; i++) {
                for (j = $start_j; j < $end_j; j++) {
                    //console.log((sx + (i * 256 * sc)) + ", " + (sy + (j * 256 * sc)));
                    $t_name = "tile_" + i + "_" + j;
                    //console.log($t_name);
                    $i_name = $location + "/" + $current_label + "/" + $t_name + ".png";
                    //console.log(Object.keys($current_dims));
                    //console.log($current_dims[$t_name]);
                    $canvas.addLayer({
                        type: 'image',
                        name: $t_name,
                        groups: ['tiles'],
                        source: $i_name,
                        x: (sx + (i * 256 * sc)), y: (sy + (j * 256 * sc)),
                        width: $current_dims[$t_name][0] * sc,
                        height: $current_dims[$t_name][1] * sc,
                        /*scale: sc,*/
                        fromCenter: false
                    });

                    $temp = $canvas.getLayer('tile_' + i + '_' + j);
                    //console.log(Object.keys($temp));
                    $canvas.getLayer('tile_' + i + '_' + j).width = $canvas.getLayer('tile_' + i + '_' + j).width;
                }
            }
            $DrawAnnotation($annotation_points, sx, sy, sc);
            //$DrawNavBar();
            $image_string = "";
            if(!getImage)
                $canvas.drawLayers();

            /*
            $canvas.drawText({
                fillStyle: '#000',
                strokeStyle: '#fff',
                strokeWidth: 0,
                x: 0, y: 0,
                fontSize: 32,
                fontFamily: 'Verdana, sans-serif',
                text: $current_label
            });
            */
        };

        $sa = "{{ sa }}";
        $focus_anno = $sa;

        $.each($annotations, function() {
            if(this[7] == $sa) {
                $focus_anno = this;
            }
        });

        console.log($focus_anno);
        // Draw first image
        if($focus_anno == -1) {
            $DrawImage($draw_x, $draw_y, $scale);
        } else {
            $ShowAnnotation($focus_anno, $draw_x, $draw_y, $scale, false);
        }

        $canvas.bind('panstart', function (ev) {
            if($annotation_drawing)
                return;

            $.each($buttons, function() {
                if((this.x < ev.gesture.center.x && this.x + this.width > ev.gesture.center.x)) {
                    if((this.y < ev.gesture.center.y && this.y + this.height > ev.gesture.center.y)) {
                        console.log(this.name + " has been pressed");
                        $button_pressed = true;
                        return;
                    }
                }
            });
            $pan_start_x = ev.gesture.center.x;
            $pan_start_y = ev.gesture.center.y;
            //console.log("Pan starting at " + $pan_start_x + ", " + $pan_start_y);
            $diff_x = 0;
            $diff_y = 0;
        });

        $canvas.bind('panmove', function(ev) {
            if($annotation_drawing || $button_pressed)
                return;

            $diff_x = ev.gesture.center.x - $pan_start_x;
            $diff_y = ev.gesture.center.y - $pan_start_y;
            //console.log($diff_x + ", " + $diff_y);
            //console.log($draw_x + ", " + $draw_y);
            $DrawImage($draw_x + $diff_x, $draw_y + $diff_y, $scale);
        });

        $canvas.bind('panend', function(ev) {
            if($annotation_drawing)
                return;
            $button_pressed = false;
            //console.log("pan ended");
            $pan_start_x = null;
            $pan_start_y = null;
            $draw_x += $diff_x;
            $draw_y += $diff_y;
            $act_x += $diff_x;
            $act_y += $diff_y;
            $diff_x = 0;
            $diff_y = 0;
        });

        $IncreaseLevel = function() {
            $l = parseInt($current_label.split("_")[1]);
            console.log($l);
            $l += 1;
            if($l >= $count) {
                $l = $count - 1;
            }
            $current_label = "level_" + $l;
            console.log($current_label);
            $current_level = $dimensions[$current_label];

            $current_dims = $.parseJSON($.ajax({
                url: $location + "/" + $current_label + "/dim.json",
                dataType: "json",
                async: false
            }).responseText);
            $scale = 1;
            $.jCanvas.defaults.fromCenter = false;
        };

        $DecreaseLevel = function() {
            $l = parseInt($current_label.split("_")[1]);
            console.log($l);
            $l -= 1;
            if($l < 0) {
                $l = 0;
            }
            $current_label = "level_" + $l;
            console.log($current_label);
            $current_level = $dimensions[$current_label];

            $current_dims = $.parseJSON($.ajax({
                url: $location + "/" + $current_label + "/dim.json",
                dataType: "json",
                async: false
            }).responseText);
            $scale = 1;
            $.jCanvas.defaults.fromCenter = false;
        };

        $canvas.bind('pinchstart', function(ev) {
            if($annotation_drawing)
                return;
            console.log("Pinch started at (" + ev.gesture.center.x + ", " + ev.gesture.center.y + ")");
            $pinch_start = ev.gesture.center;
            $prev_pinch = ev;
            $x_t = $draw_x;
            $y_t = $draw_y;
        });

        $canvas.bind('pinchmove', function(ev) {
            if($annotation_drawing)
                return;
            //console.log("Pinching");
            //console.log("Scale is " + ev.gesture.scale);
            //console.log(ev.gesture.scale);
            $new_scale = ev.gesture.scale / $prev_pinch.gesture.scale;
            $scale = $scale * $new_scale;
            if($scale > 2) {
                $l_temp = parseInt($current_label.split("_")[1]);
                $l_temp += 1;
                if ($l_temp >= $count) {
                    $scale = 2;
                    $DrawImage($x_t, $y_t, $scale);
                    $prev_pinch = ev;
                    return;
                }
            }

            $prev_pinch = ev;

            $x_t = ($new_scale * ($x_t - ev.gesture.center.x)) + ev.gesture.center.x;
            $y_t = ($new_scale * ($y_t - ev.gesture.center.y)) + ev.gesture.center.y;

            if($scale > 2) { // Time to go to next level

                $draw_x = ($scale * ($draw_x - ($draw_x + (0.5 * $current_level[0])))) + ($draw_x + (0.5 * $current_level[0]));
                $draw_y = ($scale * ($draw_y - ($draw_y + (0.5 * $current_level[1])))) + ($draw_y + (0.5 * $current_level[1]));

                console.log("going up a level");
                $pinch_start = ev.gesture.center;
                $IncreaseLevel();
            }

            if($scale < 0.5) {
                $draw_x = ($scale * ($draw_x - ($draw_x + (0.5 * $current_level[0])))) + ($draw_x + (0.5 * $current_level[0]));
                $draw_y = ($scale * ($draw_y - ($draw_y + (0.5 * $current_level[1])))) + ($draw_y + (0.5 * $current_level[1]));

                console.log("going down a level");
                $pinch_start = ev.gesture.center;
                $DecreaseLevel();
            }

            //$x_t = $draw_x + ev.gesture.center.x - $pinch_start.x;
            //$y_t = $draw_y + ev.gesture.center.y - $pinch_start.y;

            //console.log($x_t);
            $DrawImage($x_t, $y_t, $scale);
            // Create scaled x and y that are stored throughout the pinch, and can be called on if a level increase is needed
        });

        $canvas.bind('pinchend', function(ev) {
            if($annotation_drawing)
                return;
            //$scale = $scale * ev.gesture.scale;
            console.log("Pinch ended at (" + ev.gesture.center.x + ", " + ev.gesture.center.y + ")");
            $draw_x = $x_t; //+= ev.gesture.center.x - $pinch_start.x;
            $draw_y = $y_t; //+= ev.gesture.center.y - $pinch_start.y;
            $act_x = ($scale * ($draw_x - ($draw_x + (0.5 * $current_level[0])))) + ($draw_x + (0.5 * $current_level[0]));
            $act_y = ($scale * ($draw_y - ($draw_y + (0.5 * $current_level[1])))) + ($draw_y + (0.5 * $current_level[1]));
            $pinch_start = null;
            $prev_pinch = null;
            //$DrawImage($draw_x, $draw_y, $scale);
            //console.log("(" + $draw_x + ", " + $draw_y + "), at scale factor " + $scale);
            /*
            $canvas.drawEllipse({
                fillStyle: '#000',
                width: 20, height: 20,
                x: $act_x - 10,
                y: $act_y - 10
            });

            $canvas.drawEllipse({
                fillStyle: '#F00',
                width: 20, height: 20,
                x: $draw_x - 10,
                y: $draw_y - 10
            });
            */
        });

        $canvas.bind('tap', function(ev) {
            if($annotation_drawing) {
                console.log("tap at: " + ev.clientX + ", " + ev.clientY);
                /*
                $canvas.drawEllipse({
                    fillStyle: '#000',
                    width: 20, height: 20,
                    x: ev.clientX - 10,
                    y: ev.clientY - 10
                });
                */
                $annotation_points.push([ev.clientX, ev.clientY]);
                $DrawImage($draw_x, $draw_y, $scale);
            }
        });

        //TODO This is the area of interest right now
        $add_button.on('tap', function(e) {
            //console.log("add button pressed");
            $annotation_drawing = !$annotation_drawing;
            if($annotation_drawing) {
                e.preventDefault();
                $annotation_points = [];
                //console.log("Beginning drawing");
                $add_button.empty();
                $add_button.append("<i class='zmdi zmdi-check'></i> finish");
                $submitting_form = false;
            } else {
                //console.log("Ending drawing");
                if($annotation_points.length == 0)
                    e.preventDefault();

                $add_button.empty();
                $add_button.append("<i class='zmdi zmdi-plus'></i> add");
                $submitting_form = true;
            }
            $DrawImage($draw_x, $draw_y, $scale);
            //console.log($add_button);
        });

        $anno_form.on('submit', function(ev) {
            ev.preventDefault();
            console.log("Form submitted");
            $DrawImage($draw_x, $draw_y, $scale);
            //console.log($annotation_points);
            $scaled_points = [];
            $.each($annotation_points, function(i) {
                // If have points of annotation as proportion of image size, makes drawing it at any size easy
                this[0] = (this[0] - $draw_x) / ($current_level[0] * $scale);
                this[1] = (this[1] - $draw_y) / ($current_level[1] * $scale);
            });
            $info = {"name": $('#name').val(), "anno_description": $('#anno_description').val(), "colour": $('#colour').val(), "points": $annotation_points, "slide_id": "{{ id }}", "image": ""};
            $new_annotation = [$info["name"], $info["anno_description"], $info["colour"], $annotation_points];

            $ShowAnnotation($new_annotation, $draw_x, $draw_y, $scale, true);
            $canvas.drawLayers({
                complete: function () {
                    $info['image'] = $canvas.getCanvasImage('png');
                    console.log($info);
                    $.ajax({url: "{{ url_for('save_annotation') }}",
                        type: 'post',
                        data: JSON.stringify($info),
                        contentType: "application/json; charset=utf-8"
                    });
                }
            });

            $annotations.push($new_annotation);

            $('#name').val("");
            $('#anno_description').val("");
            $annotation_points = [];
            $DrawImage($draw_x, $draw_y, $scale);
            $submitting_form = false;
        });

        $view_button.on('tap', function(ev) {
            $annotation_show = !$annotation_show;
            if($annotation_show) {
                $view_button.empty();
                $view_button.append("<i class='zmdi zmdi-eye-off'></i> hide annotations");
            } else {
                $view_button.empty();
                $view_button.append("<i class='zmdi zmdi-eye'></i> show annotations");
            }
            $DrawImage($draw_x, $draw_y, $scale);
        });

        $back_button.on('tap', function(ev) {
            ev.preventDefault();
            history.go(-1);
        });

        // The following code is designed to let the user navigate around the image when they don't have access to a touch screen device
        $timeout = null;
        $nav_buttons = [$('#pan_up'), $('#pan_down'), $('#pan_left'), $('#pan_right'), $('#zoom_in'), $('#zoom_out')];
        $.event.special.tap.tapholdThreshold = 0;

        $('#pan_up').bind('mousedown touchstart', function(ev) {
            $timeout = setInterval(function() {
                $draw_y -= 10;
                $DrawImage($draw_x, $draw_y, $scale);
                console.log("Moving");
            }, 100);

            return false;
        });

        $('#pan_down').bind('mousedown touchstart', function(ev) {
            $timeout = setInterval(function() {
                $draw_y += 10;
                $DrawImage($draw_x, $draw_y, $scale);
                console.log("Moving");
            }, 100);

            return false;
        });

        $('#pan_left').bind('mousedown touchstart', function(ev) {
            $timeout = setInterval(function() {
                $draw_x -= 10;
                $DrawImage($draw_x, $draw_y, $scale);
                console.log("Moving");
            }, 100);

            return false;
        });

        $('#pan_right').bind('mousedown touchstart', function(ev) {
            $timeout = setInterval(function() {
                $draw_x += 10;
                $DrawImage($draw_x, $draw_y, $scale);
                console.log("Moving");
            }, 100);

            return false;
        });

        $('#zoom_in').bind('mousedown touchstart', function(ev) {
            $x_t = $draw_x;
            $y_t = $draw_y;
            $timeout = setInterval(function() {
                console.log("#########################################");
                console.log($x_t + (0.5 * $current_level[0] * $scale) + "-->" + ($canvas_w * 0.5));
                $scale += 0.1;

                if($scale > 2) {
                    $l_temp = parseInt($current_label.split("_")[1]);
                    $l_temp += 1;
                    if ($l_temp >= $count) {
                        $scale = 2;
                        $DrawImage($x_t, $y_t, $scale);
                        return;
                    }
                }

                $mid_x_t = $canvas_w * 0.5;// - (($x_t + (0.5 * $current_level[0] * $scale)) - ($canvas_w * 0.5));
                $mid_y_t = $canvas_h * 0.5;// - (($y_t + (0.5 * $current_level[1] * $scale)) - ($canvas_h * 0.5));
                //console.log($mid_x_t + ", " + $canvas_w);

                $x_t = (($scale / ($scale - 0.1)) * ($x_t - $mid_x_t)) + $mid_x_t;
                $y_t = (($scale / ($scale - 0.1)) * ($y_t - $mid_y_t)) + $mid_y_t;
                console.log($x_t + (0.5 * $current_level[0] * $scale) + "-->" + ($canvas_w * 0.5));
                //$x_t += $mid_x_t - ($x_t + ($scale * $current_level[0] * 0.5));
                //$y_t += $mid_y_t - ($y_t + ($scale * $current_level[1] * 0.5));
                $draw_x = $x_t;
                $draw_y = $y_t;
                //console.log("(" + $x_t + ", " + $y_t + ")");
                if($scale >= 2) {
                    $IncreaseLevel();
                }
                $DrawImage($x_t, $y_t, $scale);
                //console.log("Moving");
            }, 100);

            return false;
        });

        $('#zoom_out').bind('mousedown touchstart', function(ev) {
            $x_t = $draw_x;
            $y_t = $draw_y;
            $timeout = setInterval(function() {
                console.log("#########################################");
                console.log($x_t + (0.5 * $current_level[0] * $scale) + "-->" + ($canvas_w * 0.5));
                $scale -= 0.1;
                $mid_x_t = $canvas_w * 0.5;// - (($x_t + (0.5 * $current_level[0] * $scale)) - ($canvas_w * 0.5));
                $mid_y_t = $canvas_h * 0.5;// - (($y_t + (0.5 * $current_level[1] * $scale)) - ($canvas_h * 0.5));
                //console.log($mid_x_t + ", " + $canvas_w);

                $x_t = (($scale / ($scale + 0.1)) * ($x_t - $mid_x_t)) + $mid_x_t;
                $y_t = (($scale / ($scale + 0.1)) * ($y_t - $mid_y_t)) + $mid_y_t;
                console.log($x_t + (0.5 * $current_level[0] * $scale) + "-->" + ($canvas_w * 0.5));
                //$x_t += $mid_x_t - ($x_t + ($scale * $current_level[0] * 0.5));
                //$y_t += $mid_y_t - ($y_t + ($scale * $current_level[1] * 0.5));
                $draw_x = $x_t;
                $draw_y = $y_t;
                //console.log("(" + $x_t + ", " + $y_t + ")");
                $temp_x = $x_t;
                $temp_y = $y_t;
                if($scale < 0.6) {
                    $DecreaseLevel();
                }
                $DrawImage($x_t, $y_t, $scale);
                //console.log("Moving");
            }, 100);

            return false;
        });

        $.each($nav_buttons, function() {
            this.bind('mouseup touchend', function() {
                console.log("button released");
                clearInterval($timeout);
                $timeout = null;
                return false;
            });
        });

        $recenter = $('#recenter');

        $recenter.on('tap', function(ev) {
            ev.preventDefault();
            $current_label = $default_details[0];
            $current_level = $default_details[1];
            $current_dims = $default_details[2];
            $draw_x = $default_details[3];
            $draw_y = $default_details[4];
            $scale = $default_details[5];
            $DrawImage($draw_x, $draw_y, $scale);
        })
    })
</script>