{% extends "layout.html" %}
{% block title %}Image View{% endblock %}

{% block body %}
    <div data-role="page" data-url="{{ url_for('viewimg', imgid=imgid) }}" class="nd2-no-menu-swipe">
        <div role="main" data-inset="false">
            <div class="row">
                <div id="canvas_column" class="col-xs-11">
                    <canvas id="s_canvas"></canvas>
                </div>
                <div class="col-xs-1">
                    <br>
                    <a id="pan_up" href="#" class="ui-btn ui-btn-raised clr-primary nd2-btn-icon-block"><i class='zmdi zmdi-long-arrow-up'></i><b>&uArr;</b></a>
                    <br>
                    <a id="pan_down" href="#" class="ui-btn ui-btn-raised clr-primary nd2-btn-icon-block"><i class='zmdi zmdi-long-arrow-up'></i><b>&dArr;</b></a>
                    <br>
                    <a id="pan_left" href="#" class="ui-btn ui-btn-raised clr-primary nd2-btn-icon-block"><i class='zmdi zmdi-long-arrow-up'></i><b>&rArr;</b></a>
                    <br>
                    <a id="pan_right" href="#" class="ui-btn ui-btn-raised clr-primary nd2-btn-icon-block"><i class='zmdi zmdi-long-arrow-up'></i><b>&lArr;</b></a>
                    <br>
                    <a id="zoom_in" href="#" class="ui-btn ui-btn-raised clr-primary nd2-btn-icon-block"><i class='zmdi zmdi-zoom-in'></i> in</a>
                    <br>
                    <a id="zoom_out" href="#" class="ui-btn ui-btn-raised clr-primary nd2-btn-icon-block"><i class='zmdi zmdi-zoom-out'></i> out</a>
                    <br>
                    <a id="recenter" href="#" class="ui-btn ui-btn-raised clr-primary nd2-btn-icon-block"><i class='zmdi zmdi-arrows'></i></a>
                </div>
            </div>

            <div id="toolbar" class="row center-xs">
                <div class="col-xs-4">
                    <div class="box">
                        <a id="back_button" href="{{ url_for('home', imgid=slide_id) }}" class="ui-btn ui-btn-raised clr-primary nd2-btn-icon-block" data-ajax="false"><i class='zmdi zmdi-long-arrow-return'></i> back</a>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="box">
                        <a id="add_button" href="#" class="ui-btn ui-btn-raised clr-primary nd2-btn-icon-block"><i class='zmdi zmdi-plus'></i> add</a>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="box">
                        <a id="show_annotations" href="#" class="ui-btn ui-btn-raised clr-primary nd2-btn-icon-block"><i class="zmdi zmdi-eye"></i> show annotations</a>
                    </div>
                </div>
            </div>
        </div>

        <div data-role="panel" id="bottomsheetoptions" data-position-fixed="true" data-display="overlay">
            <h3>Save annotation</h3>
            <form method="post" action="{{ url_for('save_annotation') }}" id="new_annotation">
                <label for="name">Annotation name</label>
                <input type="text" name="name" id="name" placeholder="..." />
                <label for="anno_description">Annotation Description</label>
                <textarea data-clear-btn="true" id="anno_description" name="anno_description"></textarea>
                <label for="colour">Colour</label>
                <div id="colour_preview" style="background-color: #ff0000;">
                    <a href="#" style="display: block; height: 25px; width: 100%;"></a>
                </div>
                <select id="colour">
                    <option value="#ff0000">Red</option>
                    <option value="#00ff00">Lime</option>
                    <option value="#0000ff">Blue</option>
                    <option value="#000000">Black</option>
                    <option value="#ffffff">White</option>
                    <option value="#c0c0c0">Silver</option>
                    <option value="#008000">Green</option>
                    <option value="#ff00ff">Pink</option>
                    <option value="#800080">Purple</option>
                </select>
                <input type="submit" value="SAVE" data-rel="close">
            </form>
        </div>
        <div data-role="panel" id="annotation_panel" data-position-fixed="true" data-display="overlay">
                <img src="" id="annotation_panel_img" class="profile-background" style="width: 100%">
                <h3 id="annotation_panel_name"></h3>
                <p id="annotation_panel_description"></p>
                <br>
                <a id="annotation_panel_delete" href="#" class="ui-btn ui-btn-raised" data-rel="close" style="display: none">Delete</a>
                <br>
                <a id="annotation_panel_close" href="#" class="ui-btn ui-btn-raised" data-rel="close">Close</a>
            </div>
        </div>
    </div>
{% endblock %}

{% block script_section %}
    {% with l=loc, d=dimensions, id=slide_id, anno=anno, sa=sa, user_id=user_id %}
    {% include 'viewscript.html' %}
    {% endwith %}
{%  endblock %}

